[submodule "aave-v3-core"]
	path = aave-v3-core
	url = https://github.com/aave/aave-v3-core.git
[submodule "openzeppelin-contracts"]
	path = openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
